<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Profile | ComfyNest</title>
   <!-- CSS -->
   <link rel="stylesheet" href="/static/css/Profile.css">
   <!-- boxicons -->
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
   <abbr title="Back to Home Page">
       <div class="back">
           <a href="/homepage">
               <i class='bx bx-left-arrow-circle'></i>
           </a>
       </div>
   </abbr>
  
   <div class="container">
       <div class="pfp">
           <img src="/static/images/profilePicture.png" alt="">
       </div>
       <div class="info">
           <div class="field">
               <div>First Name</div>
               <div>Last Name</div>
               <div>E mail</div>
               <div class="sub">Phone Number</div>
           </div>
           <div class="value">
               <ul class="row">
                   <li th:text="${tenant.firstName}"></li>
                   <li th:text="${tenant.lastName}"></li>
                   <li th:text="${tenant.email}"></li>
                   <li th:text="${tenant.phone}" class="sub"></li>
               </ul>
           </div>
       </div>
       <div class="logout">
           <abbr title="Back To Login Page">
               <a href="/logout"><button class="btn">Log Out</button></a>
           </abbr>
       </div>
   </div>
</body>
</html>

