<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SingUp | ComfyNest</title>
   <!-- CSS -->
   <link rel="stylesheet" href="/static/css/SignUp.css">
   <!-- boxicons -->
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
   <div class="main">
        <!-- sub1 -->
       <div class="sub1">
           <div class="title">
               <h1>ComfyNest</h1>
               <h4>Your Key to Hassle-Free Dormitory Discovery</h4>
           </div>
       </div>
       <!-- sub2 -->
       <div class="sub2">
           <div class="container">
               <div class="wrapper">
                   <form action="/register" method="post">
                       <div class="text">
                           <h2>Sign Up</h1>
                           <h5>Just some details to get you in.!</h4>
                       </div>
                       <div class="row">
                           <label for="fN">First Name</label><br>
                           <input  id="fN" name="firstName" required autocomplete="off" placeholder="Enter Your First Name">
                       </div>
      
                       <div class="row">
                           <label for="lN">Last Name</label><br>
                           <input type="text" id="lN" name="lastName" required autocomplete="off" placeholder="Enter Your Last Name">
                       </div>
      
                       <div class="row">
                        <div style="display: flex; justify-content: space-between;"><label for="email">E-mail</label><span th:if="${error}" class="error" style="color: red; font-size: 10px;"> &#9432 This email is already registered!</span></div>
                           <input type="email" id="email" name="email" required novalidate autocomplete="off" placeholder="Enter Your Email" th:class="${error} ? 'error' : ''">
                       </div>
                      
                       <div class="phoneNumber">
                           <label for="phone">Phone Number</label><br>
                           <select name="region" class="ph" size="1">
                               <option value="+09">+09</option>
                               <option value="+66" selected>+66</option>
                               <option value="+08">+08</option>
                           </select>
                           <input type="tel" id="phone" name="phone" required autocomplete="off" placeholder="Enter Your Phone Number">
                       </div>
      
                       <div class="pass">
                           <label for="password">Password</label><br>
                           <input type="password" id="password" name="password" required placeholder="Enter Your Password">
                           <span>
                            <i class="bx bx-hide show-hide"></i>
                           </span>
                       </div>
  
                       <div class="gender">
                           <div class="male">
                               <label for="Male">Male</label>
                               <input type="radio" name="gender" value="male" id="Male" required>
                           </div>
                          <div class="female">
                               <label for="Female">Female</label>
                               <input type="radio" name="gender" value="female" id="Female" required>
                          </div>
                       </div>
      
                       <div class="btn">
                           <input type="submit" value="Register" id="click">
                       </div>
      
                       <div class="login">Already have an account? <a href="/">Login</a></div>
                   </form>
               </div>
           </div>
       </div>
    </div>
    <!-- JS -->
    <script src="/static/js/index.js"></script>
</body>
</html>

