<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>WishList | ComfyNest</title>
   <!-- CSS -->
   <link rel="stylesheet" href="/static/css/WishList.css">
   <!-- boxicons -->
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section>
        <span class="overlay1"></span>
        <div class="pop1">
            <div class="question">
                <img src="/static/images/Confirm.png" alt="">
            </div>
            <h2>Are you sure you want to book this dormitory?</h2>

            <div class="btns">
                <button class="cancel1">Cancel</button>
                <button class="booking">Book</button>
            </div>
        </div>

        <abbr title="Back to Home Page">
            <div class="back">
                <!-- still need to wire back -->
                <a href="/homepage">
                    <i class='bx bx-left-arrow-circle'></i>
                </a>
            </div>
        </abbr>
        
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">My WishList</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dorm : ${dormList}">
                        <td class="row">
                            <div class="name" th:text="${dorm.name}">
                            </div>
                            <div class="btn">
                                <a style="text-decoration: none;" th:href="@{'/remove/' + ${dorm.id}}"><i class='bx bx-trash'></i></a>
                                <a th:href="@{'/dorm/' + ${dorm.id}}"><button type="button" class="see">See More</button></a>
                                <a href="#"><button type="button" class="book">Book</button></a>
                            </div>
                        </td>
                    </tr>
                </tbody >
            </table >
        </div>
    </section>
    <!-- JS -->
    <script src="/static/js/heart.js"></script>
</body>
</html>

